
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} 
.contenedor{
    width: 80%;
    height: 500px;
    background: #ff5c29;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-content: center; */
}
/*contenedor hijo*/
.hijo{
    background-color: #00b285;
    width: 200px;
    height: 100px;
    color: #FFF;
    margin: 30px;
    padding: 20px;
    font-size: 40px; /*tamaño de la letra*/
    text-align: center; 
    flex-shrink: 1 1 auto; /* aqui se resume flex grow y shrink, siendo flex grow 1, flex shrink 1  y automatico*/
}
.hijo_D{
    background-color: #00b285;
    width: 200px;
    height: 100px;
    color: #FFF;
    margin: 30px;
    padding: 20px;
    font-size: 40px; /*tamaño de la letra*/
    align-self: stretch; /*direccionamiento*/
    height: auto; /**/
}

